.el-header {
    --el-header-padding: 0;
    --el-header-height: 60px;
    z-index: 1;
}

.header-border {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid var(--el-border-color);
    box-shadow: 0 1px 8px rgba(57, 57, 58, 0.9); /* 添加阴影效果 */
    height: 60px;
    background-color: rgba(144, 144, 144, 0);
    backdrop-filter: blur(12px);
}

.el-footer {
    --el-footer-padding: 0;
    --el-footer-height: 60px;
}

.footer-border {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
    border-bottom: 1px solid var(--el-border-color);
    box-shadow: 0 -1px 8px rgba(57, 57, 58, 0.9); /* 添加阴影效果 */
    height: 60px;
    background-color: rgba(144, 144, 144, 0);
    backdrop-filter: blur(12px);
}

.logo {
    font-weight: bold;
    text-shadow: 0 10px 10px rgba(255, 177, 255, 0.7);
    margin-left: 11%;
    font-size: 30px;
}

.login-text {
    align-items: center;
}

.padding-0 {
    padding: 0;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.input-search {
    width: 10%;
    height: 70%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1%;
}

.font-end-content {
    margin: auto;
    width: 70%;
    height: 100%;
    /*如果 每个组件都定义自己的背景色的话   这边的content背景色就可以先注释掉。*/
    /*background-color: rgba(78, 142, 47, 0.1);*/
}

.el-main {
    /*--el-main-padding: 0;*/
}

.div-center {
    display: flex;
    justify-content: center;
}

.box-card {
    margin-block: 16px;
    z-index: 1;
}

.blog_card {
    text-align: left;
    height: 150px;
}

a.no-underline {
    text-decoration: none;
}

.inherit-font-size{
    font-size: inherit;
}

